{% extends 'layout-app.html' %}

{% block title %}Reservas{% endblock %}

{% block main %}
<div class="container">
  <div class="row mt-4">
    <div class="col">
      <h1>Reserva {{reserve_details.ID}}</h1>
        <p><b>Sala:</b> {{reserve_details.sala}}</p>
        <p><b>Início:</b> {{reserve_details.inicio}}</p>
        <p><b>Fim:</b> {{reserve_details.fim}}</p>
      <p>{{nome_usuario}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4">
      <h3>Gerar Comprovante</h3>
      <p>Gere o pdf do comprovante de reserva.</p>
      <a href="" class="btn btn-dark">Gerar Comprovante</a>
    </div>
    <div class="col-md-6 mb-4">
      <h3>Cancelar Reserva</h3>
      <p>Você pode cancelar a reserva até 12 horas antes do início da reserva.</p>
      <form action="">
        <button class="btn btn-dark">Cancelar Reserva</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}